.Card {
  padding: 16px;
  border: var(--bord-col) 1px solid;
  border-radius: 8px;
  break-inside: avoid;
  margin-bottom: 8px;
}

.Card h2 {
  margin: 0;
  margin-bottom: 12px;
  text-align: center;
  font-size: 1em;
}

.Card .secondary {
  color: var(--secondary-txt-col);
}