.Card {
  padding: 16px;
  border: var(--bord-col) 1px solid;
  border-radius: 8px;
  display: grid;
  gap: 8px;
  align-content: space-between;
  height: max-content;
  break-inside: avoid-column;
  flex-grow: 1;
}

.Card .data-container {
  height: min-content
}

.Card span {
  line-height: 1em;
  /* display: inline-block; */
}

.Card h2 {
  margin: 0;
  text-align: center;
  line-height: 1em;
  font-size: 1em;
  height: fit-content;
}

.Card .secondary {
  color: var(--secondary-txt-col);
}