.TableCard .data-container {
  display: flex;
}

.TableCard caption {
  text-align: center;
}

.TableCard table {
  margin: 0 auto;
  border-spacing: 0;
}

.TableCard th, td {
  padding: 8px;
}

.TableCard th {
  text-align: left;
}

.TableCard tr:not(:last-child) :is(th, td) {
  border-bottom: var(--bord-col) 1px solid;
}