.Tooltip .activator {
  border-radius: 1lh;
  aspect-ratio: 1;
  background-color: white;
  border: var(--bord-col) 2px solid;
  font-weight: bolder;
}

.Tooltip .content {
  opacity: 0;
  position: absolute;
  background-color: white;
  padding: 16px;
  border: var(--bord-col) 2px solid;
  box-shadow: 0 10px 25px 0 var(--shadow-col);
  border-radius: 8px;
}

.Tooltip .content p {
  margin: 0;
}

/* computers: hover */
.Tooltip .activator:hover~:is(.Tooltip .content) {
  opacity: 1;
}

@media (pointer: coarse) {
  /* touchscreens: press */
  .Tooltip .content[data-visible=true] {
    opacity: 1;
  }
}