.StackedLineChart .controls {
  display: grid;
  gap: 16px;
}

.StackedLineChart .textbox-container {
  text-align: center;
}

.StackedLineChart .textbox-container > * {
  display: inline;
}

.StackedLineChart .filter-choices {
  display: grid;
  gap: 8px;
}

.StackedLineChart .filter-choices label:has(input[type="radio"]:not(:checked)) {
  color: var(--secondary-txt-col);
}

.StackedLineChart .form-error {
  margin: 0;
  text-align: center;
  color: light-dark(#af0000, #ff8e8e);
}
