.Tooltip .activator {
  --sz: 25px;
  border-radius: calc(var(--sz) / 2);
  aspect-ratio: 1;
  background-color: var(--bkg-col);
  border: var(--bord-col) 2px solid;
  font-weight: bolder;
  width: var(--sz);
  height: var(--sz);
}

.Tooltip .content {
  visibility: hidden;
  width: auto;
  position: fixed;
  background-color: var(--bkg-col);
  padding: 16px;
  border: var(--bord-col) 2px solid;
  box-shadow: 0 10px 25px 0 var(--shadow-col);
  border-radius: 8px;
  box-sizing: border-box;
  z-index: 999;
}

.Tooltip .content p {
  margin: 0;
}

/* computers: hover */
.Tooltip .activator:hover~:is(.Tooltip .content) {
  visibility: visible;
}

@media (pointer: coarse) {
  .Tooltip .activator {
    --sz: 40px;
  }

  /* touchscreens: press */
  .Tooltip .content[data-visible=true] {
    visibility: visible;
  }
}