firebase-functions==0.5.0               # Released Nov 4, 2025
firebase-admin==7.1.0                   # Released Jul 31, 2025
pandas==2.3.3                           # Released Sep 25, 2025
numpy==2.4.0                            # Released Dec 20, 2025
pytest==9.0.2                           # Released Dec 6, 2025