firebase-functions==0.4.3               # Released May 23, 2025
firebase-admin==6.9.0                   # Released Jun 6, 2025
pandas==2.3.0                           # Released Jun 4, 2025
numpy==2.3.2                            # Released Jul 24, 2025