:root {
  --shadow-col: #00000099;
  --bord-col: light-dark(#ccc, #666);

  /* for communication with JSX */
  --bkg-col-light: white;
  --bkg-col-dark: #1f1f1f;

  --bkg-col: light-dark(var(--bkg-col-light), var(--bkg-col-dark));
  --secondary-txt-col: light-dark(#666, #999);

  color-scheme: light dark;
  font-family: Arial, Helvetica, sans-serif;
}

body,
html,
#root,
.App {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100%;
}

body {
  background-color: var(--bkg-col);
}

.App {
  display: grid;
  grid-template-rows: 1fr auto;
}

/* --- Banner ----------------------------------- */

@property --x {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 0%;
}

@property --y {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 0%;
}

@property --stop {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 0%;
}

@property --angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

.App .banner {
  --fade-h: 100px;
  background:
    radial-gradient(circle at var(--x) var(--y),
      #ff5a0055,
      transparent var(--stop)),
    conic-gradient(from var(--angle) at 150% 150%,
      #ff5a0055,
      transparent,
      #ff5a0055);
  background-color: var(--bkg-col);
  /* background-color: #ff5a00; */
  height: calc(100svh + var(--fade-h));
  animation: spin ease-in-out infinite 10s alternate;
  mask-image: linear-gradient(black calc(100% - var(--fade-h)), transparent);
}

@keyframes spin {
  from {
    --angle: 180deg
  }

  to {
    --angle: 360deg;
  }
}

.App .banner .container {
  position: relative;
  display: grid;
  gap: 32px;
  align-content: center;
  height: 100svh;
}

.App .banner .container * {
  margin: 0;
  text-align: center;
}

.App .banner .title {
  font-size: 4em;
}

.App .banner .subtitle {
  font-weight: lighter;
  font-size: 2em;
}

.App .banner .scroll-hint {
  position: absolute;
  bottom: 16px;
  width: 100%;
  display: grid;
  gap: 8px;
  justify-content: center;
  justify-items: center;
}

.App .banner .scroll-hint img {
  width: 15px;
  height: 15px;
}

@media(prefers-color-scheme: light) {
  .App .banner .scroll-hint img {
    filter: brightness(0);
  }
}

/* ---------------------------------------------- */

main,
section {
  margin: 0 auto;
  max-width: 750px;
  width: calc(100% - 32px);
}

main {
  /* --n-cols: 3;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)) */
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

/* main > * {
  margin-bottom: 12px;
} */

footer {
  background-color: light-dark(whitesmoke, #2f2f2f);
  padding: 16px 0;
}

footer .inner-container {
  margin: 0 auto;
  width: calc(100% - 32px);
}