:root {
  --secondary-txt-col: #666;
  --shadow-col: #00000099;
  --bord-col: #ccc;

  font-family: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body,
html,
#root,
.App {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100%;
}

.App {
  display: grid;
  grid-template-rows: 1fr auto;
}

/* --- Banner ----------------------------------- */

@property --x {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 0%;
}

@property --y {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 0%;
}

@property --stop {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 0%;
}

@property --angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

.banner {
  position: relative;
  background:
    radial-gradient(circle at var(--x) var(--y),
      #ff5a00,
      transparent var(--stop)),
    conic-gradient(from var(--angle) at 150% 150%,
      #ff5a00,
      transparent,
      #ff5a00);
  background-color: rgb(0, 0, 0);
  height: 100svh;
  align-content: center;
  display: grid;
  gap: 32px;
  animation: spin ease-in-out infinite 10s alternate;
}

@keyframes spin {
  from {
    --angle: 180deg
  }

  to {
    --angle: 360deg;
  }
}

.banner * {
  text-align: center;
  color: white;
}

.banner .title {
  font-size: 4em;
}

.banner .subtitle {
  font-weight: lighter;
  font-size: 2em;
}

.banner .scroll-hint {
  position: absolute;
  bottom: 16px;
  width: 100%;
  display: grid;
  gap: 8px;
  justify-content: center;
  justify-items: center;
}

.banner .scroll-hint img {
  width: 15px;
  height: 15px;
}

/* ---------------------------------------------- */

main {
  margin: 0 auto;
  width: calc(100% - 32px);
  max-width: 500px;
  display: grid;
}

footer {
  background-color: whitesmoke;
  padding: 16px 0;
}

footer .inner-container {
  margin: 0 auto;
  width: calc(100% - 32px);
}